version: "3.9"

services:
  spark-master:
    build: .
    image: spark-custom:3.5.7
    container_name: spark-master
    hostname: spark-master
    command: ["/opt/spark/bin/spark-class", "org.apache.spark.deploy.master.Master", "--host", "spark-master"]
    environment:
      - SPARK_MASTER_PORT=7077
      - SPARK_MASTER_WEBUI_PORT=8080
    ports:
      - "8080:8080"
      - "7077:7077"
    volumes:
      - ./app:/opt/spark/app
      - ./app/data:/data
    networks:
      - spark-network

  spark-worker:
    image: spark-custom:3.5.7
    container_name: spark-worker
    hostname: spark-worker
    command: ["/opt/spark/bin/spark-class", "org.apache.spark.deploy.worker.Worker", "spark://spark-master:7077"]
    depends_on:
      - spark-master
    environment:
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=2G
      - SPARK_WORKER_PORT=8081
    ports:
      - "8081:8081"
    volumes:
      - ./app:/opt/spark/app
      - ./app/data:/data
    networks:
      - spark-network

  pyspark:
    image: spark-custom:3.5.7
    container_name: pyspark
    hostname: pyspark
    command: bash
    stdin_open: true
    tty: true
    depends_on:
      - spark-master
    volumes:
      - ./app:/opt/spark/app
      - ./app/data:/data
    networks:
      - spark-network

  jupyter:
    image: spark-custom:3.5.7
    container_name: jupyter
    command: bash -c "jupyter lab --ip=0.0.0.0 --port=8888 --no-browser"
    ports:
      - "8888:8888"
    environment:
      - PYSPARK_PYTHON=python3
      - JUPYTER_TOKEN=benomar10
    volumes:
        - ./notebooks:/home/spark/notebooks
        - ./app/data:/data
    networks:
      - spark-network
    depends_on:
      - spark-master

  postgres_spark:
    image: postgres:16
    container_name: postgres
    ports:
      - "5450:5432"
    environment:
          POSTGRES_USER: ben
          POSTGRES_PASSWORD: admin_pwd
          POSTGRES_DB: dataDB
    volumes:
      - ./Base_de_donnees/Postgres:/var/lib/postgresql/data # nous allons persister nos données ici 
    networks:
      - spark-network


networks:
  spark-network:
    driver: bridge
